body{
    font-family: "Poppins", sans-serif;
    }

.button{
border-radius: 20px;
border: 0;
color: #fff;
cursor: pointer;
padding: 10px 25px;
background: black;
}

.button:active
{
opacity: 0.8;
}

.modal{
opacity: 0;
position: relative;
top: 0;
left: 0;
right: 0;
bottom: 0;
transition: all 0.3s ease-in-out;
z-index: -1;
display: flex;
align-items: center;
justify-content: center;
height: 0;

}

.modal.open{
opacity: 1;
z-index: 999;
}

.modal-inner{
background-color: #fff;
border-radius: 5px;
padding: 15px 25px;
text-align: center;
width: 380px;
}

.modal-inner p{
line-height: 24px;
margin: 10px 0;
}

#mybox{
    display: none;
    position: fixed;
    width: 200px;
    height: 110px;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 999;
    background:rgb(223, 216, 216);
    text-align: center;
    padding-top: 45px;
 left: 570px; 
    top: 170px;
    box-shadow: 5px 5px 30px black;
}


#close
{
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 5px;
    padding-top: 5px;
}


.check-box-nd-h6 input {
background-color: black;
padding: 50px;
}


.terms-of-services{
display: flex;
/* align-items: center; */
} 



.product{
    display: flex;
    justify-content: space-between;

}



.Order-completed{
    font-family: 'Courier New', Courier, monospace, sans-serif;
}


.order-heading{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.email-section{
    display: flex;
    justify-content: space-between;
}


